services:
  history:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: history-dev
    ports:
      - '3000:3000'
    volumes:
      - '.:/app'
    #  - '../grenander:/grenander'
    working_dir: /app
    command: >
      bash -c "bundle exec rails db:migrate &&
              bundle exec rails server -b 0.0.0.0"