<% # container for all documents in index list view -%>
<div class="timeline-container">
	<div id="documents" class="documents-<%= document_index_view_type %>">
	  <%= render documents, :as => :document %>
	</div>
</div>
