/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 *
 * Used by blacklight_range_limit
 *= require  'blacklight_range_limit'
 *= require  'grenander/headerNavbar'
 *= require  'grenander/browseNav'
 *= require  'grenander/searchSubnav'
 *= require  'font-awesome'
 *
*/


body {
    background: #e2e1e0;
}

span.document-counter {
	display: none;
}


.card-columns {
	column-count: 4;
}

.document {
	border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    background-color: #ffffff;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    border-radius: .25rem;
    padding: 1.25rem;
}



.facet-limit {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.document div h1, .document div h5 {
	padding-left: 1.25rem;
}

a {
	color: #642a90;
}

a:hover {
	color: #006c68;
}

.btn-primary {
	color: #EBE6F0;
	background-color: #46166B;
	border-color: #46166B;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
	color: #eaaa00;
	background-color: #642a90;
	border-color: #642a90;
}

.btn:focus {
	border-color: #9e68c7 ;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #9e68c7 ;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #9e68c7 ;
}

.page-sidebar .panel-body {
	font-size: .85em; 
	line-height: 1.15em;
}

.page-sidebar .facet-values .facet-label {
	padding-bottom: 12px;
}

.facet-limit-active {
	border-color: #eaaa00!important;
	border-top-color: #eaaa00!important;
	border-bottom-color: #eaaa00!important;
	border-left-color: #eaaa00!important;
	border-right-color: #eaaa00!important;
}

.facet-limit-active .card-header {
	background-color: #f8e1a5!important;
}


.facet-values li .facet-select {
	color: #006c68!important;
}

.facet-values li .selected {
	color: #006c68!important;
	font-weight: 700;
}

.sort-pagination,
.pagination-search-widgets {
  margin-bottom: 1em;
  padding-bottom: 0em;
}

.list-group-item-info {
	background-color: #9e68c7;
	color: #e2e1e0;
}

.list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
	background-color: #642a90;
	color: #fff;
}

.pagination .page-item a {
	color: #46166B !important;
}

.pagination .page-item .page-link:focus {
	box-shadow: 0 0 0 0.2rem #46166B !important; 
}

.page-item.active .page-link{
	background-color: #9e68c7;
	border-color: #9e68c7;
}

.subject-cards {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.subject-cards:hover, .subject-cards:active {
	background-color: #EBE6F0;
}


.edit-btm {
	position: absolute;
	right:    0;
	bottom:   0;
}